
.formArea {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}
.formInput{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

table, th, td{
    border-collapse: collapse;
    border: 2px solid black;
}

.highlight{
    color: red;
}

