<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="app.js"></script>
        <title>Document</title>
        <style>
            .formArea{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="formArea">
            <form action='/user'  method="post">
                <label for="id">Enter Id:</label>
                <input type="text" name="id">
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>